@model AulaRemotaThriboCrossfit.Models.ExercicioDTO

@{
    ViewData["Title"] = "Create";
}

<h4>Adicionar Exercicio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" required />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoExercicio" class="control-label"></label>
                <select asp-for="TipoExercicio" class="form-control">
                    <option value="Mobilidade">Mobilidade</option>
                    <option value="Aquecimento">Aquecimento</option>
                    <option value="Core">Core</option>
                    <option value="WOD">WOD</option>
                    <option value="Alongamento">Alongamento</option>
                    <option value="Outro">Outro</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Equipamento" class="control-label"></label>
                <select asp-for="Equipamento" class="form-control">
                    <option value="Anilha">Anilha</option>
                    <option value="Dumbbell">Dumbbell</option>
                    <option value="Kettlebell">Kettlebell</option>
                    <option value="Bola">Bola</option>
                    <option value="Outro">Outro</option>
                </select>
                <span asp-validation-for="Equipamento" class="text-danger"></span>
            </div>
            <dl>
                <dd>
                    <input asp-for="Video" type="file">
                    <span asp-validation-for="Video"></span>
                </dd>
            </dl>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"  type="button" class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span> Voltar
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}