@model AulaRemotaThriboCrossfit.Models.Treino

@{
    ViewData["Title"] = "Create";
}

<h4>Adicionar Treino</h4>
<div class="row">
    <a asp-action="Index" type="button" class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span> Voltar
    </a>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" class="col-md-12">
            <input type="hidden" value="0" id="countExercicios" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label asp-for="Dia" class="control-label"></label>
                    <input asp-for="Dia" class="form-control" onchange="verificarExercicios()" />
                    <span asp-validation-for="Dia" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Equipamento" class="control-label"></label>
                    <select asp-for="Equipamento" class="form-control"  onchange="verificarExercicios()">
                        <option value="" selected>Selecione...</option>
                        <option value="Anilha">Anilha</option>
                        <option value="Dumbbell">Dumbbell</option>
                        <option value="Kettlebell">Kettlebell</option>
                        <option value="Bola">Bola</option>
                    </select>
                </div>
            </div>
            <div id="exercicios">
                <fieldset class="col-md-12">
                    <legend>Exercícios</legend>
                    <div style="margin: 10px">
                        <button asp-action="Index" type="button" onclick="addNovoExercicio()" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus"></span>Adicionar Exercicio
                        </button>
                    </div>
                    <div id="listaExercicios">
                        @{
                            await Html.RenderPartialAsync("_NovoExercicioTreino", 0);
                        }
                    </div>
                </fieldset>
                <div class="form-group row text-center col-md-12" style="margin: 10px">
                    <input type="submit" value="Salvar Treino" class="btn btn-primary col-md-5" />
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $("#exercicios").hide();
        });

        function atualizarListaExercicios(uid) {
            var tipoExercicio = "#tipoExercicio" + uid;
            var tipoEquipamento = "#Equipamento";
            var selectExercicios = "#selectExercicios" + uid;

            $.ajax({
                url: "/Treino/_renderPartialSelectExercicios/",
                data: { tipoExercicio: $(tipoExercicio).val(), equipamento: $(tipoEquipamento).val() },
                type: "post",
                dataType: "html",
                success: function (data) {
                    if (data != null) {
                        $(selectExercicios).html(data);
                    } else {
                        $(selectExercicios).html("<option value=''>Selecione...</option>");
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                }
            })
        }

        function addNovoExercicio() {
            var qtdExercicio = parseInt($("#countExercicios").val()) + 1;
            $("#countExercicios").val(qtdExercicio);
            $.ajax({
                url: "/Treino/_NovoExercicioTreino/",
                data: { count: qtdExercicio },
                type: "post",
                dataType: "html",
                success: function (data) {
                    if (data != null) {
                        $("#listaExercicios").append(data);
                    } 
                },
                error: function (xhr, ajaxOptions, thrownError) {
                }
            })
        }      

        function removeExercicio(uid) {
            var divExercicio = "#divExercicio" + uid;
            $(divExercicio).remove();
        }   

        function verificarExercicios() {
            var dia = $("#Dia").val();
            var equip = $("#Equipamento").val();

            if (equip != null && dia != '' && equip != null && equip != '') {
                $("#exercicios").show();
            } else {
                $("#exercicios").hide();
            }
        }
    </script>
}
